/*Overall site roots and global styles*/
:root {
    --color: black;
    --background: rgb(34, 113, 139);
    --altbackground: rgb(190, 221, 231); 
    --titles: 40px;
    --subtitles: 30px;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

body {
    background-color: var(--altbackground);
}

/* Navigation and Subtitle*/
nav {
    background-color: rgb(255, 255, 255);
    padding: 2%;
  }  

  .top-links li {
    display: inline;
    padding: 20px;
    font-size: 15px;
    text-decoration: underline;
}

.subtitle {
    background-color: var(--background);
    padding: 20px;
    height: 40px; 
    text-align: right;
    color: white;
}

.top-links {
    text-align: center;
  }  

header {
    text-align: center;
    font-size: var(--titles);
    background-color: var(--background);
    color: white;
    padding: 10px;
}

/*Work Section*/

section {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex: 4;
    justify-content: space-evenly;
    align-items: flex-start;
  }

/*Variable link to all titles*/
.title {
    font-size: var(--subtitles);
}

section {
    position: relative;
    text-align: row;
  }

.contact a {
    text-decoration: underline;
    padding: 20px;
}

/*media section for smaller screens*/

@media screen and (max-width: 768px) {
    section,
    nav {
      flex-direction: column;
    }
  }
  