:root {
    --color: black;
    --background: lightblue;
    --titles: 40px;
    --subtitles: 30px;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    var(--background);
    font-size: 15px;
}

header {
    text-align: center;
    font-size: var(--titles);
    background-color: aquamarine;
    padding: 10px;
}

.links a {
    padding: 20px;
    font-size: 15px;
    text-decoration: underline;
}

.subtitle {
    padding: 20px;
    text-align: right;
}

.about {
    font-size: var(--subtitles);
}

.work {
    font-size: var(--subtitles);
}

.contact {
    font-size: var(--subtitles);
}

.contact a {
    text-decoration: underline;
    padding: 20px;
}