:root {
    --color: black;
    --background: rgb(34, 113, 139);
    --altbackground: rgb(190, 221, 231); 
    --titles: 40px;
    --subtitles: 30px;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

body {
    background-color: var(--altbackground);
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 2%;
  }  

.top-links {
    text-align: center;
  }  

header {
    text-align: center;
    font-size: var(--titles);
    background-color: var(--background);
    color: white;
    padding: 10px;
}

.title {
    font-size: var(--subtitles);
}

section {
    position: relative;
    text-align: center;
  }

.top-links li {
    display: inline;
    padding: 20px;
    font-size: 15px;
    text-decoration: underline;
}

.subtitle {
    background-color: var(--background);
    padding: 20px;
    height: 40px; 
    text-align: right;
    color: white;
}

.contact a {
    text-decoration: underline;
    padding: 20px;
}
